@import "tailwindcss";

/* Dark variant */
@custom-variant dark (&:where(.dark, .dark *));

/* Utility: Hide scrollbar */
@utility no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}
:root {
  --color-font: #141414;
  --background: #F8FAFC;
  --foreground: #141414;
  --hover-dark: oklch(20.8% 0.042 265.755); /* darker hover for light theme */
  --hover-light: oklch(92.9% 0.013 255.508); /* lighter hover for dark theme */
  --glow-color: rgba(186, 127, 252, 0.2);
}

/* Theme variables */
@theme {
  --color-primary: oklch(43.2% 0.232 292.759);
  --color-secondary: oklch(72.3% 0.219 149.579);

  /* Default (light mode) */
  --color-font: #141414;
  --background: #F8FAFC;
  --foreground: #141414;
  --hover-dark: oklch(20.8% 0.042 265.755);
  --hover-light: oklch(92.9% 0.013 255.508);

  /* Font families */
  --font-primary: "Satoshi", sans-serif;
  --font-secondary: var(--font-inter, "Inter", sans-serif);
  --font-handwritten: var(--font-patrick-hand, "Patrick Hand", cursive);
}

/* Dark mode overrides */
.dark {
  --background: #0B0D10;
  --foreground: #e9edf0;
  --color-font: #e9edf0;
  --glow-color: rgba(186, 127, 252, 0.3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --glow-color: rgba(186, 127, 252, 0.3);
  }
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

html {
  touch-action: pan-x pan-y;
  -ms-touch-action: pan-x pan-y;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-family: var(--font-secondary);
  min-width: 1440px;
  overflow-x: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}
